*{
    box-sizing: border-box;
}
body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: hsl(0, 0%, 97%);
}
h1{
    margin-top: -15rem;
    margin-bottom: 8rem;
}
.key{
    background-color: #fff;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    padding: 20px;
    margin: 10px;
    position: relative;
    min-width: 150px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}

.key small {
    position: absolute;
    top: -24px;
    left: 0;
    text-align: center;
    width: 100%;
    color:#6b6b6b;
    font-size: 16px;
    font-weight: normal;
}